</main>

<footer class="footer" id="contacts">
  <div class="wrapper">
    <div class="footer__inner">
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">instagram</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">behance</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">facebook</a>
          </li>
        </ul>
      </nav>
      <h4 class="footer__title">contact us</h4>
      <div class="footer__copy">
        <p class="footer__copyright">
          All Rights Reserved
          <span>© 2024</span>
        </p>
        <a href="#header" class="footer__up">back on top</a>
      </div>
    </div>

  </div>
  <div class="mobile-menu">
    <div class="mobile-menu__space-taker"></div>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="about.html">about</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#">works</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts">
          contact
        </a>
      </li>
    </ul>
    <div class="mobile-menu__social-wrapper">
      <strong>follow us</strong>
      <ul class="mobile-menu__social">
        <li class="mobile-menu__link">
          <a href="#">Behance</a>
        </li>
        <li class="mobile-menu__link">
          <a href="#">Instagram</a>
        </li>
        <li class="mobile-menu__link">
          <a href="#">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="overlay">
  <div class="form__success-screen">
    <p class="form__submit-result">Sent successfully</p>
    <div class="form__success-icon"></div>
    <p class="form__result-text">We will contact you shortly</p>
  </div>
  <div class="form__error-screen">
    <p class="form__submit-result">Unfortunately, an error occurred</p>
    <div class="form__error-icon"></div>
    <p class="form__result-text">
      Please try submitting your request again in a couple of minutes
    </p>
  </div>
</div>

<script src="js/libs/jquery-3.6.0.min.js"></script>