<section class="form">
  <div class="wrapper">
    <div class="form__inner">
      <h3 class="form__title">
        <span class="form__title-first">How do you feel about</span>
        <span class="form__title-second">exploring design options with us?</span>
      </h3>
      <form class="form__mould">
        <label class="form__label">
          <span>Your name</span>
          <input type="text" class="form__input">
        </label>
        <label class="form__label">
          <span>Phone number</span>
          <input type="tel" class="form__input">
        </label>
        <label class="form__label">
          <span>Email</span>
          <input type="email" class="form__input">
        </label>
        <input type="submit" value="let`s get in touch" class="form__submit">
      </form>
    </div>
  </div>
</section>