<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="Shortcut Icon" type="image/x-icon" href="img/icons/favicon.png" />


</head>

<body>

  <!-- Add autoHide class to automatically hide the header on scroll -->
  <header class="header" id="header">
    <div class="wrapper">
      <div class="header__inner">
        <a href="/" class="header__logo">
          kon<strong>one</strong>nko
        </a>

        <nav class="header__menu">
          <ul class="header__list">
            <li class="header__item">
              <a href="about.html">about</a>
            </li>
            <li class="header__item header__item--active">
              <a href="#">works</a>
            </li>
            <li class="header__item header__item--arrow">
              <a href="#contacts">
                contact us
              </a>
            </li>
          </ul>
        </nav>
        <button class="header__btn">
          <span class="header__btn-text">Menu</span>
          <svg class="header__btn-icon" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5 5L5.5 15" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
            <path d="M5.5 5L15.5 15" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
          </svg></button>
      </div>
    </div>
  </header>

  <main class="main">