<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@@title</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link rel="Shortcut Icon" type="image/x-icon" href="img/icons/favicon.png" />


</head>

<body>

	<!-- Add autoHide class to automatically hide the header on scroll -->
	<header class="header" id="header">
		<div class="wrapper">
			<div class="header__inner">
				<a href="/" class="header__logo">
					kon<strong>one</strong>nko

				</a>

				<nav class="header__menu">
					<ul class="header__list">
						<li class="header__item">
							<a href="about.html">about</a>
						</li>
						<li class="header__item header__item--active">
							<a href="#">works</a>
						</li>
						<li class="header__item header__item--arrow">
							<a href="#">
								contact us
							</a>
						</li>
					</ul>
				</nav>
				<button class="header__btn">Menu</button>
			</div>
		</div>
	</header>

	<main class="main">