<section class="hero">
  <div class="wrapper">
    <div class="hero__inner">
      <div class="hero__title">
        <h1 class="hero__headline">Konone<span class="hero__end">nko</span></h1>
        <p class="hero__subtext">
          The art of transforming ideas into form
        </p>
      </div>
      <div class="hero__services">
        <ul class="hero__list hero__list--pc">
          <li class="hero__item">Furniture</li>
          <li class="hero__item">Lighting</li>
          <li class="hero__item">Product</li>
          <li class="hero__item">Textile</li>
          <li class="hero__item">Decoration</li>
        </ul>
        <p class="hero__list--mob">
          Furniture / Lighting Decoration / Textile Product
        </p>
        <strong class="hero__slogan">ID</strong>
      </div>
    </div>
  </div>
</section>