<section class="successes">
  <div class="wrapper">
    <div class="successes__inner">
      <div class="successes__awards">
        <h5 class="successes__headline">Awards</h5>
        <ul class="awards__list">
          <li class="awards__item">
            <span class="awards__year">2010</span>
            <p class="awards__info">
              <span>Vodoparad</span>
              <span>/ Gold Winner Students Concept</span>
            </p>
            <span class="awards__city">Ukraine</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2012</span>
            <p class="awards__info">
              <span>Vodoparad</span>
              <span>/ Gold Winner</span>
            </p>
            <span class="awards__city">Ukraine</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2012</span>
            <p class="awards__info">
              <span>Design And Design</span>
              <span>/ Winner</span>
            </p>
            <span class="awards__city">Parise</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2014</span>
            <p class="awards__info">
              <span>Design And Design</span>
              <span>/ Winner</span>
            </p>
            <span class="awards__city">Parise</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2014</span>
            <p class="awards__info">
              <span>Rugvista Design Competition</span>
              <span>/ Bronze</span>
            </p>
            <span class="awards__city">Sweden</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2015</span>
            <p class="awards__info">
              <span>Rugvista Design Competition</span>
              <span>/ Gold/Winner</span>
            </p>
            <span class="awards__city">Sweden</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2016</span>
            <p class="awards__info">
              <span>Design And Design</span>
              <span>/ Winner</span>
            </p>
            <span class="awards__city">Parise</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2017</span>
            <p class="awards__info">
              <span>Ukrainian Design-Awards</span>
              <span>/ "The Best OF"</span>
            </p>
            <span class="awards__city">Ukraine</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2017</span>
            <p class="awards__info">
              <span>Design And Design</span>
              <span>/ Winner</span>
            </p>
            <span class="awards__city">Parise</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2019</span>
            <p class="awards__info">
              <span>Novum Design Award</span>
              <span>/ Gold/Winner</span>
            </p>
            <span class="awards__city">-</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2021</span>
            <p class="awards__info">
              <span>Rugvista Design Competition</span>
              <span>/ Bronze</span>
            </p>
            <span class="awards__city">Sweden</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2023</span>
            <p class="awards__info">
              <span>DNA Parise Design Award</span>
              <span>/ Winner</span>
            </p>
            <span class="awards__city">Parise</span>
          </li>
          <li class="awards__item">
            <span class="awards__year">2023</span>
            <p class="awards__info">
              <span>European Product Design Award</span>
              <span>/ Winner</span>
            </p>
            <span class="awards__city">-</span>
          </li>
        </ul>
      </div>
      <div class="successes__exhibitions">
        <h5 class="successes__headline">Exhibitions</h5>
        <ul class="exhibitions">
          <li class="exhibitions__item">
            <span class="exhibitions__year">2012</span>
            <p class="exhibitions__info">
              WMD. Minsk Design Week
            </p>
            <span class="exhibitions__city">Minsk</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2012</span>
            <p class="exhibitions__info">
              New World
            </p>
            <span class="exhibitions__city">Kyiv</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2012</span>
            <p class="exhibitions__info">
              Design Living Tendency
            </p>
            <span class="exhibitions__city">Kyiv</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2014</span>
            <p class="exhibitions__info">
              Lodz Design Week
            </p>
            <span class="exhibitions__city">Poland</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2017</span>
            <p class="exhibitions__info">
              Paris Design Week
            </p>
            <span class="exhibitions__city">Paris</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2019</span>
            <p class="exhibitions__info">
              KIFF
            </p>
            <span class="exhibitions__city">Ukraine</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2019</span>
            <p class="exhibitions__info">
              IMM Cologne
            </p>
            <span class="exhibitions__city">Germany</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2019</span>
            <p class="exhibitions__info">
              Stockholm Furniture Fair
            </p>
            <span class="exhibitions__city">Sweden</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2020</span>
            <p class="exhibitions__info">
              IMM Cologne
            </p>
            <span class="exhibitions__city">Germany</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2021</span>
            <p class="exhibitions__info">
              Las Vegas Market
            </p>
            <span class="exhibitions__city">USA</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2021</span>
            <p class="exhibitions__info">
              Paris Design Week
            </p>
            <span class="exhibitions__city">Paris</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2022</span>
            <p class="exhibitions__info">
              Las Vegas Market
            </p>
            <span class="exhibitions__city">USA</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2023</span>
            <p class="exhibitions__info">
              KIFF
            </p>
            <span class="exhibitions__city">Ukraine</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2023</span>
            <p class="exhibitions__info">
              Las Vegas Market
            </p>
            <span class="exhibitions__city">USA</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2023</span>
            <p class="exhibitions__info">
              Salone del Mobile.Milano
            </p>
            <span class="exhibitions__city">Italy</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2023</span>
            <p class="exhibitions__info">
              Milan Design Week
            </p>
            <span class="exhibitions__city">Italy</span>
          </li>
          <li class="exhibitions__item">
            <span class="exhibitions__year">2024</span>
            <p class="exhibitions__info">
              IMM Cologne
            </p>
            <span class="exhibitions__city">Germany</span>
          </li>
        </ul>
      </div>
      <div class="successes__brands">
        <h5 class="successes__headline">Brands</h5>
        <ul class="brands__list">
          <li class="brands__item">Atmolight</li>
          <li class="brands__item">AM-Abazhur</li>
          <li class="brands__item">Yo2</li>
          <li class="brands__item">KOLO.furniture</li>
          <li class="brands__item">TOV Wudus</li>
          <li class="brands__item">OK Brand</li>
          <li class="brands__item">Gantri</li>
          <li class="brands__item">Gnizdo</li>
          <li class="brands__item">Shishka project</li>
          <li class="brands__item">Solomia RCS</li>
          <li class="brands__item">Svoyeridne</li>
          <li class="brands__item">RugVista</li>
          <li class="brands__item">MCF</li>
          <li class="brands__item">MZPA</li>
          <li class="brands__item">Меса</li>
          <li class="brands__item">MURI</li>
          <li class="brands__item">Maiimo</li>
          <li class="brands__item">Coffeestyleglobal</li>
          <li class="brands__item">Ceramika Design</li>
          <li class="brands__item">Cogen Roaster</li>
          <li class="brands__item">Skandica</li>
          <li class="brands__item">ZALI Furniture</li>
          <li class="brands__item">Betonwood</li>
        </ul>
      </div>
    </div>
  </div>
</section>