<section class="works">
  <div class="wrapper">
    <div class="works__inner">
      <h2 class="works__title">/ works</h2>
      <ul class="works__list">
        <li class="works__item">
          <div class="works__wrapper works__wrapper--big">
            <div class="works__img">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza big">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">View</a>
            </div>
          </div>
          <div class="works__wrapper works__wrapper--small">
            <div class="works__img--small">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza small">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">View</a>
            </div>
          </div>
        </li>
        <li class="works__item works__item--reverse">
          <div class="works__wrapper works__wrapper--big">
            <div class="works__img">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza big">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">View</a>
            </div>
          </div>
          <div class="works__wrapper works__wrapper--small">
            <div class="works__img--small">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza small">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">View</a>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="works__wrapper works__wrapper--big">
            <div class="works__img">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza big">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">View</a>
            </div>
          </div>
          <div class="works__wrapper works__wrapper--small">
            <div class="works__img--small">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza small">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">View</a>
            </div>
          </div>
        </li>
        <li class="works__item works__item--reverse">
          <div class="works__wrapper works__wrapper--big">
            <div class="works__img">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza big">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">view</a>
            </div>
          </div>
          <div class="works__wrapper works__wrapper--small">
            <div class="works__img--small">
              <img src="../img/general/trapeza-big.jpg" alt="trapeza small">
            </div>
            <div class="works__info">
              <div class="works__text">
                <strong class="works__name">TRAPEZA</strong>
                <strong class="works__year">/ 2023</strong>
              </div>
              <a href="#" class="works__view">view</a>
            </div>
          </div>
        </li>
      </ul>
      <button class="works__more">show more</button>
    </div>
  </div>
</section>