@import "../core";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  // Set global fonts here
}

* {
  position: relative;
}

html {
  font-size: 10px;
  background-color: $whiteColor;
  scroll-behavior: smooth;
}

body {
  font-family: Noto, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  overflow: hidden;
  z-index: 1;
}

main {
  flex: 1;

}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

//===========================
// Helpers
//===========================




.tac {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}