@import "../core";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  // Set global fonts here
}

* {
  position: relative;
}

html {
  font-size: 10px;
  background-color: $whiteColor;
  scroll-behavior: smooth;
}

body {
  font-family: Noto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  overflow: hidden;
  z-index: 1;
}

main {
  flex: 1;

}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1920px;
  padding-left: clamp(1px, 3.125vw, 60px);
  padding-right: clamp(1px, 3.125vw, 60px);
  margin: 0 auto;
}

//===========================
// Helpers
//===========================




.tac {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.accent-color {
  color: $accentColor;
}