@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/NotoSansKR-Regular-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular-Alphabetic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/NotoSansKR-Medium-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium-Alphabetic.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/NotoSansKR-Bold-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold-Alphabetic.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}