@import "../core";



.about {

  padding-bottom: 35px;

  @include maxw($sm-pc) {
    padding-bottom: clamp(1px, 15.55vw, 140px);
  }

  &__title {
    margin-bottom: clamp(1px, 0.57vw, 11px);
    display: flex;
    justify-content: space-between;
    gap: clamp(1px, 1.04vw, 20px);

    @include maxw($sm-pc) {
      margin-bottom: clamp(1px, 11.77vw, 106px);
    }

    span {
      font-weight: 700;
      font-size: clamp(1px, 12.08vw, 232px);
      line-height: 1;
      letter-spacing: -0.1em;
      text-transform: uppercase;

      @include maxw($sm-pc) {
        font-size: clamp(1px, 20.22vw, 182px);
      }
    }
  }

  &__founded {
    margin-left: clamp(1px, 37.76vw, 725px);
    width: clamp(1px, 41.3vw, 793px);

    @include maxw($sm-pc) {
      margin-left: 0;
      width: clamp(1px, 93.66vw, 843px);
    }
  }

  &__founded-title {
    margin-bottom: clamp(1px, 1.14vw, 22px);
    font-weight: 700;
    font-size: clamp(1px, 1.77vw, 34px);
    line-height: 1.2;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 6.22vw, 56px);
    }

    span {
      display: block;
      font-weight: 700;
      font-size: clamp(1px, 1.77vw, 34px);
      line-height: 1.2;
      text-transform: uppercase;

      @include maxw($sm-pc) {
        font-size: clamp(1px, 6.22vw, 56px);
      }
    }
  }

  &__name {
    font-weight: 700;
    font-size: clamp(1px, 1.77vw, 34px);
    line-height: 1.2;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 6.22vw, 56px);
    }
  }

  &__info {
    display: flex;

    @include maxw($sm-pc) {
      flex-direction: column;
    }
  }

  &__list {
    margin-bottom: clamp(1px, 2.08vw, 40px);
    display: flex;
    flex-direction: column;
    gap: clamp(1px, 1.04vw, 20px);

    @include maxw($sm-pc) {
      margin-bottom: clamp(1px, 18.66vw, 168px);
      gap: clamp(1px, 2.44vw, 22px);
    }
  }

  &__item {
    img {
      @include maxw($sm-pc) {
        width: clamp(1px, 93.66vw, 843px);
      }
    }
  }
}



.benefits__list {
  width: clamp(1px, 37.76vw, 725px);
  display: flex;
  flex-direction: column;
  gap: clamp(1px, 1.14vw, 22px);
  flex-shrink: 0;

  @include maxw($sm-pc) {
    margin-bottom: clamp(1px, 6.22vw, 56px);
    width: clamp(1px, 93.66vw, 843px);
    gap: clamp(1px, 6.22vw, 56px);
  }

  li {
    width: clamp(1px, 18.33vw, 352px);

    @include maxw($sm-pc) {
      width: clamp(1px, 93.66vw, 843px);
    }

    &:first-child {
      text-align: justify;
    }

    h4 {
      margin-bottom: clamp(1px, 1.04vw, 20px);
      font-weight: 700;
      font-size: clamp(1px, 1.14vw, 22px);
      line-height: 1.2;
      letter-spacing: -0.03em;
      text-transform: uppercase;

      @include maxw($sm-pc) {
        margin-bottom: clamp(1px, 2.44vw, 22px);
        font-size: clamp(1px, 5vw, 45px);
      }
    }

    p {

      font-size: clamp(1px, 1.14vw, 22px);
      font-weight: 400;
      line-height: 1.4;

      @include maxw($sm-pc) {
        font-size: clamp(1px, 4.33vw, 39px);
        line-height: 1.5;
      }
    }
  }
}

.slogan {
  width: clamp(1px, 41.3vw, 793px);
  display: flex;
  flex-direction: column;
  gap: clamp(1px, 1.56vw, 30px);
  transition: height 1s ease;

  &.slogan__hide {

    @include maxw($sm-pc) {
      height: clamp(1px, 57.22vw, 515px);
      overflow: hidden;
    }
  }

  &__toggle {
    align-self: center;
    display: none;
    background: transparent;
    border: none;
    font-weight: 400;
    font-size: clamp(1px, 4.33vw, 39px);
    line-height: 1.5;
    border-bottom: 2px solid $blackColor;

    @include maxw($sm-pc) {
      display: inline-block;

    }
  }

  @include maxw($sm-pc) {
    width: clamp(1px, 93.66vw, 843px);
    margin-bottom: clamp(1px, 6.22vw, 56px);
  }

  &__title {
    font-size: clamp(1px, 1.14vw, 22px);
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      margin-bottom: clamp(1px, 2.44vw, 22px);
      font-size: clamp(1px, 5vw, 45px);
    }
  }

  p {
    font-size: clamp(1px, 1.14vw, 22px);
    line-height: 1.4;
    text-align: justify;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 4.33vw, 39px);
      line-height: 1.5;
    }
  }
}

.follow {
  width: clamp(1px, 10.15vw, 195px);
  margin-left: auto;
  align-self: flex-end;

  @include maxw($sm-pc) {
    display: none;
  }

  &__title {
    margin-bottom: clamp(1px, 1.04vw, 20px);
    font-weight: 700;
    font-size: clamp(1px, 1.14vw, 22px);
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  &__item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('../../img/icons/arrow-up-right.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    a {
      font-size: clamp(1px, 1.14vw, 22px);
      line-height: 1.4;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.breadcrumbs {
  margin-bottom: clamp(1px, 4.37vw, 84px);
  display: flex;
  gap: clamp(1px, 0.62vw, 12px);

  @include maxw($sm-pc) {
    margin-bottom: clamp(1px, 15.55vw, 140px);
  }

  &__item {
    font-size: clamp(1px, 0.83vw, 16px);
    line-height: 1.5;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 3.11vw, 28px);
    }

    &:last-child {
      color: #969696;
    }
  }
}