@import "../core";

.form {
  padding-top: clamp(1px, 6.4vw, 123px);
  padding-bottom: clamp(1px, 4.17vw, 80px);

  @include maxw($sm-pc) {
    padding-bottom: clamp(50px, 15.625vw, 15.625vw);
    padding-top: clamp(50px, 15.625vw, 15.625vw);
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: clamp(1px, 4.17vw, 80px);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(1px, 1.04vw, 20px);

    @include maxw($sm-pc) {
      flex-direction: column;
      margin-bottom: clamp(60px, 18.75vw, 18.75vw);
    }
  }

  &__title-first {
    width: clamp(1px, 45.31vw, 870px);
    text-align: right;

    @include maxw($sm-pc) {
      width: clamp(1px, 72.11vw, 649px);
      text-align: left;

    }

  }

  &__title-second {
    padding-top: clamp(38px, 5.2vw, 100px);
    width: clamp(1px, 41.66vw, 800px);
    color: $accentColor;
    text-align: left;

    @include maxw($sm-pc) {
      padding-top: 0;
      width: clamp(1px, 92.44vw, 832px);
      text-align: right;
    }


  }

  &__title-first,
  &__title-second {
    font-weight: 500;
    font-size: clamp(1px, 5.2vw, 100px);
    line-height: 1;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 11vw, 106px);

    }
  }

  &__mould {
    margin-left: auto;
    margin-right: auto;
    width: clamp(1px, 38.12vw, 732px);
    display: flex;
    flex-direction: column;
    gap: clamp(1px, 3.12vw, 60px);

    @include maxw($sm-pc) {
      width: clamp(1px, 92.44vw, 832px);
      gap: clamp(20px, 6.25vw, 6.25vw)
    }
  }

  &__modul-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: clamp(1px, 38.12vw, 732px);

    @include maxw($sm-pc) {
      width: clamp(1px, 92.44vw, 832px);
    }
  }

  &__label {
    position: relative;
    padding-top: clamp(1px, 1.14vw, 22px);
    display: flex;
    flex-direction: column;

    @include maxw($sm-pc) {
      padding-top: clamp(1px, 4.33vw, 39px);
    }
  }

  &__floating-label {
    position: absolute;
    left: clamp(1px, 0.62vw, 12px);
    top: clamp(1px, 1.04vw, 20px);
    font-weight: 400;
    font-size: clamp(1px, 1.14vw, 22px);
    line-height: 1.4;

    @include maxw($sm-pc) {
      top: clamp(1px, 3.77vw, 34px);
      font-size: clamp(1px, 4.33vw, 39px);
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 0px 12px 8px 12px;
    font-weight: 400;
    font-size: clamp(1px, 1.14vw, 22px);
    line-height: 1.4;
    background-color: transparent;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 4.33vw, 39px);
    }

    &::placeholder {
      color: transparent;
    }
  }

  &__input:focus+&__floating-label,
  &__input:not(:placeholder-shown)+&__floating-label {
    color: #969696;
    font-size: clamp(1px, 0.833vw, 16px);
    top: 0;

    @include maxw($sm-pc) {
      font-size: clamp(10px, 3.125vw, 3.125vw);
    }
  }

  &__error-message {
    display: none;
    position: absolute;
    left: clamp(1px, 0.62vw, 12px);
    bottom: 0;
    transform: translateY(100%);
    font-weight: 400;
    font-size: clamp(1px, 0.833vw, 16px);
    line-height: 1.4;
    color: $accentColor;

    @include maxw($sm-pc) {
      font-size: clamp(10px, 3.125vw, 3.125vw);
    }
  }

  &__submit {
    padding: clamp(1px, 0.83vw, 16px);
    margin-top: clamp(1px, 2.083vw, 40px);
    font-weight: 700;
    font-size: clamp(1px, 1.25vw, 22px);
    text-transform: uppercase;
    color: $whiteColor;
    background-color: $blackColor;

    @include maxw($sm-pc) {
      padding: clamp(1px, 3.66vw, 33px);
      font-size: clamp(1px, 4.33vw, 39px);
      margin-top: clamp(40px, 12.5vw, 12.5vw);
    }
  }

  &__success-screen,
  &__error-screen {
    padding: clamp(1px, 5vw, 96px);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: clamp(1px, 2.083vw, 40px);
    background: #000;
    text-align: center;

    @include maxw($sm-pc) {
      padding: clamp(20px, 6.25vw, 6.25vw);
      gap: clamp(32px, 10vw, 10vw)
    }
  }

  &__submit-result {
    text-align: center;
    font-weight: 700;
    font-size: clamp(1px, 1.77vw, 34px);
    text-transform: uppercase;
    color: #fff;

    @include maxw($sm-pc) {
      font-size: clamp(20px, 6.25vw, 6.25vw);
    }
  }

  &__success-icon,
  &__error-icon {
    background-size: clamp(1px, 3.333vw, 64px);
    width: clamp(1px, 3.333vw, 64px);
    height: clamp(1px, 3.333vw, 64px);

    @include maxw($sm-pc) {
      width: clamp(40px, 12.5vw, 12.5vw);
      height: clamp(40px, 12.5vw, 12.5vw);
      background-size: clamp(40px, 12.5vw, 12.5vw);
    }
  }

  &__success-icon {
    background-image: url('../../img/icons/form-check.svg');
  }

  &__error-icon {
    background-image: url('../../img/icons/form-cross.svg');
  }

  &__result-text {
    font-size: clamp(1px, 1.25vw, 24px);
    font-weight: 500;
    color: #fff;

    @include maxw($sm-pc) {
      font-size: clamp(14px, 4.375vw, 4.375vw);
    }
  }
}