@import "../core";

.header {
	padding-top: clamp(1px, 1.19vw, 23px);
	padding-bottom: clamp(1px, 1.19vw, 23px);

	@include maxw($sm-pc) {
		padding-top: clamp(1px, 6.22vw, 56px);
		padding-bottom: clamp(1px, 6.22vw, 56px);
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	&__logo {
		font-size: clamp(1px, 2.9vw, 33px);
		text-transform: uppercase;

		@include maxw($sm-pc) {
			font-size: clamp(1px, 6vw, 56px);
		}
	}

	&__btn {
		display: none;
		padding: clamp(1px, 2.44vw, 22px) clamp(1px, 2.77vw, 25px);
		font-weight: 500;
		font-size: clamp(1px, 3.6vw, 33px);
		color: $whiteColor;
		line-height: 100%;
		letter-spacing: -0.05em;
		text-transform: uppercase;
		background-color: $blackColor;
		border: none;

		@include maxw($sm-pc) {
			display: block;
		}
	}

	&__list {
		display: flex;
		gap: clamp(1px, 12vw, 222px);

		@include maxw($sm-pc) {
			display: none;
		}

		li {

			a,
			span {
				font-size: clamp(1px, 1.25vw, 24px);
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}

	&__item--active {
		a {
			color: $accentColor;
		}

	}

	&__item--arrow {
		a {
			position: relative;
			display: inline-block;
			padding-right: clamp(1px, 2.34vw, 45px);

			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: clamp(1px, 1.25vw, 24px);
				height: clamp(1px, 1.25vw, 24px);
				background-image: url('../../img/icons/header-arrow.svg');
				background-size: clamp(1px, 1.25vw, 24px);
			}
		}
	}
}