@import "../core";

.header {
	padding-top: 23px;
	padding-bottom: 23px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	&__list {
		display: flex;
		gap: clamp(70px, 12vw, 222px);

		li {

			a,
			span {
				font-size: 24px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}

	&__item--active {
		a {
			color: $accentColor;
		}

	}

	&__item--arrow {
		a {
			position: relative;
			display: inline-block;
			padding-right: 45px;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 24px;
				height: 24px;
				background-image: url('../../img/icons/header-arrow.svg');
			}
		}
	}
}