@import "../core";

.hero {
  padding-top: 198px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    max-width: 1340px;
    width: 100%;
  }

  &__headline {
    margin-bottom: 90px;
    font-size: 232px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.1em;
    text-transform: uppercase;
  }

  &__subtext {
    max-width: 197px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__services {
    display: flex;
    align-items: end;
    gap: 10px;
  }

  &__slogan {
    font-weight: 700;
    font-size: 232px;
    letter-spacing: -0.04em;
    line-height: 0.6;
    text-transform: uppercase;
  }

  &__item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: right;
  }
}