@import "../core";

.hero {
  padding-top: clamp(1px, 10vw, 192px);
  padding-bottom: clamp(1px, 2.6vw, 50px);

  @include maxw($sm-pc) {
    padding-top: clamp(112px, 35vw, 35vw);
    padding-bottom: clamp(50px, 15.625vw, 15.625vw);
  }

  & .wrapper {
    position: relative;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include maxw($sm-pc) {
      flex-wrap: wrap;
    }
  }

  &__title {
    position: relative;
    max-width: 1340px;
    width: 100%;
  }

  &__headline {
    margin-left: clamp(-20px, -1.04vw, 1px);
    margin-bottom: clamp(1px, 4.69vw, 90px);
    font-size: clamp(1px, 12vw, 232px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.1em;
    text-transform: uppercase;


    @include maxw($sm-pc) {
      margin-bottom: 0;
      font-size: clamp(1px, 24vw, 216px);
      display: flex;
      flex-wrap: wrap;
    }


  }

  &__end {
    font-size: clamp(1px, 12vw, 232px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.1em;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 24vw, 216px);
    }
  }

  &__subtext {
    width: clamp(135px, 9vw, 242px);
    font-size: clamp(16px, 1.25vw, 24px);
    font-weight: 500;
    line-height: 1.2;

    @include maxw($sm-pc) {
      position: absolute;
      right: clamp(1px, 2.22vw, 20px);
      bottom: clamp(1px, 2.66vw, 24px);
      width: clamp(1px, 41.44vw, 373px);
      font-size: clamp(1px, 5vw, 45px);
    }
  }

  &__services {
    margin-left: auto;
    display: flex;
    align-items: end;
    gap: 10px;

    @include maxw($sm-pc) {
      margin-left: 0;
    }
  }

  &__decor {
    position: absolute;
    right: clamp(1px, 29.32vw, 563px);
    bottom: 0;
    background-color: $accentColor;
    width: clamp(1px, 0.52vw, 10px);
    height: clamp(1px, 0.52vw, 10px);

    @include maxw($sm-pc) {
      right: clamp(10px, 3.125vw, 3.125vw);
      width: clamp(8px, 2.5vw, 2.5vw);
      height: clamp(8px, 2.5vw, 2.5vw);
    }
  }

  &__list--pc {
    @include maxw($sm-pc) {
      display: none;
    }
  }

  &__list--mob {
    display: none;

    @include maxw($sm-pc) {
      max-width: clamp(1px, 46.66vw, 420px);
      display: flex;
      font-weight: 500;
      font-size: clamp(1px, 5vw, 45px);
      line-height: 1.2;
      text-align: right;
    }
  }

  &__slogan {
    font-weight: 700;
    font-size: clamp(1px, 12vw, 232px);
    letter-spacing: -0.08em;
    line-height: 0.9;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 24vw, 216px);
    }
  }

  &__item {
    font-weight: 500;
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: 1.2;
    text-align: right;
  }
}