@import "../core";

.works {
  padding-top: 50px;
  padding-bottom: 123px;

  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 50px;
    color: $accentColor;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 200px 0;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px 200px;
  }

  &__item--reverse {
    flex-direction: row-reverse;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__name {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  &__year,
  &__line {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #bbb9b9;
  }

  &__text {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__view {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
  }

  &__more {
    display: block;
    padding: 0px 0px 4px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
  }
}