@import "../core";

.works {
  padding-top: clamp(1px, 2.6vw, 50px);
  padding-bottom: clamp(1px, 6.4vw, 123px);

  @include maxw($sm-pc) {
    padding-top: clamp(1px, 28.88vw, 260px);
    padding-bottom: clamp(1px, 30.11vw, 271px);
  }

  &__title {
    margin-bottom: clamp(1px, 3.12vw, 60px);
    font-weight: 700;
    font-size: clamp(1px, 2.6vw, 50px);
    color: $accentColor;
    line-height: 0.9;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 10vw, 90px);
    }
  }

  &__list {
    margin-bottom: clamp(1px, 10.41vw, 200px);
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1px, 10.41vw, 200px) 0;

    @include maxw($sm-pc) {
      margin-bottom: clamp(1px, 18.66vw, 168px);
      flex-direction: column;
      align-items: center;
      gap: clamp(1px, 18.66vw, 168px);
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: clamp(1px, 15.36vw, 295px);

    @include maxw($sm-pc) {
      flex-direction: column;
      align-items: center;
      gap: clamp(1px, 18.66vw, 168px);
    }
  }

  &__item--reverse {
    flex-direction: row-reverse;

    @include maxw($sm-pc) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;


  }

  &__wrapper--big {
    width: clamp(1px, 51.61vw, 911px);

    @include maxw($sm-pc) {
      width: clamp(1px, 92.44vw, 832px);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__wrapper--small {
    width: clamp(1px, 26.71vw, 513px);

    @include maxw($sm-pc) {
      width: clamp(1px, 92.44vw, 832px);
    }
  }

  &__img,
  &__img--small {

    img {
      object-fit: cover;
    }

  }

  &__name,
  &__year {
    font-size: clamp(1px, 1.25vw, 24px);
    line-height: 1.5;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 5vw, 45px);
    }
  }

  &__name {
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  &__year {
    font-weight: 700;
    color: #bbb9b9;

    @include maxw($sm-pc) {
      margin-top: -8px clamp(-8px, -5vw, 1px);
    }
  }

  &__text {
    display: flex;
    gap: clamp(1px, 0.62vw, 12px);
    align-items: center;
    flex-wrap: wrap;

    @include maxw($sm-pc) {
      flex-direction: column;
      align-items: baseline;
      gap: 0;
    }
  }

  &__view {
    font-weight: 400;
    font-size: clamp(1px, 1.14vw, 22px);
    line-height: 1.4;

    @include maxw($sm-pc) {
      font-size: clamp(1px, 4.33vw, 39px);
    }
  }

  &__more {
    display: block;
    padding: 0px 0px 4px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(16px, 1.25vw, 24px);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;

    @include maxw($sm-pc) {
      font-size: clamp(16px, 3.66vw, 33px);
    }

  }
}